{% extends 'base.html' %}
{% block content %}
<div id="container" style="margin-top: 20px; height: 100% ;">
    <div class="col-1" style="text-align: center; align-content: center; width: 40%;">
        <img src="{{url_for('static', filename='img/bruxinho3.png')}}" style="width: 100%; border-radius: 20px;">
    </div>
    <div class="col-2" style="width: 50%; margin-right: 8%;"  >
        <h1>Queridos educadores:</h1>
        <p>O Rotina Mágica conta com uma área exclusiva para educadores, reconhecendo o papel fundamental que vocês desempenham no processo de ensino e desenvolvimento da autonomia.</p>

        <p>Por meio da plataforma, o educador pode:</p>
        <ul style="margin-left: 20px; font-size: 14px">
        <li style="list-style: circle; ">Criar atividades personalizadas baseadas nas necessidades do aluno;</li>
        <li style="list-style: circle; ">Organizar as rotinas de forma sequencial e adaptada;</li>
        <li style="list-style: circle; ">Selecionar diferentes tipos de jogos, como quebra-cabeças, quiz interativo, ligar colunas, arrastar e soltar e jogo da memória;</li>
        <li style="list-style: circle; ">Acompanhar o progresso do aluno, analisando seu desempenho nas atividades.</li>
        </ul>
        <p>O projeto dialoga com abordagens pedagógicas como a ABA, utilizando reforços visuais e auditivos para motivar o aluno, e com o Modelo TEACCH, que propõe um ambiente estruturado, previsível e visualmente organizado. Essas abordagens são comprovadamente eficazes no ensino de habilidades para pessoas com autismo e deficiência intelectual.</p>

        <p>O educador pode usar o Rotina Mágica como uma ferramenta complementar às suas práticas pedagógicas, incentivando o aluno a construir sua independência nas atividades do cotidiano, promovendo a inclusão e o desenvolvimento pessoal.</p>

        <p>Nos próximos passos, a plataforma contará com um dashboard onde os educadores poderão visualizar o ranking dos alunos e acompanhar sua evolução de forma mais detalhada, possibilitando ajustes e novas intervenções pedagógicas.</p>

    
    </div>
</div>
{% endblock %}