{% extends 'base.html' %}
{% block content %}
<div id="container" style="margin-top: 20px; height: 100% ;">
    <div class="col-1" style="text-align: center; align-content: center; width: 40%;">
        <img src="{{url_for('static', filename='img/familia.png')}}" style="width: 100%;">
    </div>
    <div class="col-2" style="width: 60%;">
        <h1>Olá Família!</h1>
        <p>O Rotina Mágica é também um apoio para as famílias, que desempenham um papel essencial no desenvolvimento da autonomia e da qualidade de vida de seus filhos e familiares. Sabemos que ensinar as rotinas do dia a dia pode ser um processo desafiador e exige repetição, paciência e adaptação aos interesses e ao ritmo de cada pessoa.</p>

        <p>Por isso, criamos esta plataforma web para complementar o trabalho que já acontece em casa e na escola. Os alunos poderão vivenciar atividades como escovar os dentes, organizar a mochila ou preparar-se para dormir, por meio de jogos educativos que respeitam o seu tempo e as suas habilidades.</p>

        <p>Através da plataforma, as famílias poderão perceber avanços nas atividades diárias e, futuramente, acompanhar relatórios de progresso que ajudarão a entender melhor o desenvolvimento da autonomia do seu familiar.</p>

        <p>Nosso objetivo é facilitar o ensino das Atividades da Vida Diária (AVDs), tornando o aprendizado um momento mais leve e prazeroso, contribuindo para a construção da independência e autoestima.</p>
       
    </div>
</div>
{% endblock %}