<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTÃO ALUNOS - Rotina Mágica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <a href="/">
        <figure>
            <img src="{{ url_for('static', filename='img/logo.png') }}">
        </figure>
        </a>
        <div>
            <h1>Área Administrativa</h1>
        </div>
    </header>
    <main>
        <h1>PROFESSOR</h1>
        <div id="container">
            <div class="novoaluno">
                {% if not editar_prof %}
                <form action="/prof/novoprof" method="post">
                    <h2>Cadastrando novo professor</h2>
                    <label>Nome:</label>
                    <input type="text" name="nome" value="{{ nome or '' }}" required maxlength="50" autocomplete="off">
                    <label>Login para acesso:</label>
                    <input type="text" name="login" value="{{ login or '' }}" required maxlength="20" {% if erro_login %} style="background-color: rgb(238, 114, 114); "{% endif %}  autocomplete="off">
                    {% if erro_login %}
                        <p style="color: red; font-size: 12px;">{{ erro_login }}</p>
                    {% endif %}
                    <label>Senha:</label>
                    <input type="text" name="senha" value="{{ senha or '' }}"  required  autocomplete="off"> 
                    
                    <div class="aluno-bts">
                        <a href="{{ url_for('admin.admin_dashboard') }}">
                            <button type="button" class="bt-cancelar">Cancelar</button>
                        </a>
                        <button type="submit">Cadastrar</button>
                    </div>
                </form>
                {% else %}
                <form action="/prof/editarprof/{{ prof.idProf }}" method="post">
                    <h2>Alterando dados do professor</h2>
                    <label>Nome:</label>
                    <input type="text" name="nome" value="{{ nome or prof.nome }}" required maxlength="50"  autocomplete="off">
                    <label>Login para acesso:</label>
                    <input type="text" name="login" value="{{ login or prof.login }}" required maxlength="20" {% if erro_login %} style="background-color: rgb(238, 114, 114); "{% endif %}  autocomplete="off">
                    {% if erro_login %}
                        <p style="color: red; font-size: 12px;">{{ erro_login }}</p>
                    {% endif %}
                    <label>Senha:</label>
                    <input type="text" name="senha" value="{{ senha or prof.senha }}" required  autocomplete="off">
                    <label>Status:</label>
                    <div class="boxradio">
                        <div><input type="radio" name="status" value="1" {% if prof.status == 1 %} checked {% endif %}>Ativo</div>
                        <div><input type="radio" name="status" value="0" {% if prof.status == 0 %} checked {% endif %}>Bloqueado</div>
                    </div>
                    <div class="aluno-bts">
                        <a href="{{ url_for('admin.admin_dashboard') }}">
                        <button type="button" class="bt-cancelar">Cancelar</button></a>
                        <button type="submit">Salvar</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>  
    </main>
    {% include 'footer.html' %}
</body>
</html>