{% extends 'base.html' %}
{% block content %}
<div id="container" style="margin-top: 20px; height: 100% ;">
    <div class="col-1" style="text-align: center;">
        <img src="{{url_for('static', filename='img/bruxinho1.png')}}" height="500">
    </div>
    <div class="col-2"  >
        <h1>Projeto Rotina Mágica</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend ac enim facilisis egestas. Donec a erat magna. Vestibulum at nisi arcu. Cras convallis, libero id consectetur pretium, ipsum est posuere orci, id aliquam odio ligula sed augue. Maecenas in mauris eget tortor bibendum lobortis at quis dolor. Praesent fermentum risus diam, nec cursus eros maximus ac. Sed auctor metus eu odio sodales, dignissim sollicitudin tortor pharetra. Nunc diam odio, tempor volutpat venenatis id, sagittis lacinia velit. Praesent tincidunt nunc ex, cursus mattis odio feugiat quis. In dapibus risus vel rhoncus luctus. Vestibulum non imperdiet nibh, ultricies varius est. Nam convallis vehicula felis vitae cursus.</p>

        <p>Suspendisse erat velit, feugiat rhoncus convallis non, pulvinar id tortor. Duis consectetur mauris non dui tempus, sed dictum est iaculis. Proin at ipsum est. Phasellus a purus vel turpis lacinia tempus vel ut neque. Proin ac feugiat turpis. Mauris ultricies congue ligula, et finibus risus rhoncus in. Vestibulum eu elit molestie augue sagittis posuere sed ut urna. Nullam non est at sapien tristique vulputate. Cras vitae dolor tincidunt erat rhoncus vulputate id quis mauris. Praesent lacinia diam in leo ultrices auctor. Donec magna sem, scelerisque nec ipsum sed, molestie consectetur ex. Suspendisse dignissim nisi metus, a vehicula metus convallis eu.</p>

        <p>Aliquam viverra vel tortor vitae iaculis. Pellentesque ante elit, maximus ultricies ex et, commodo dictum arcu. Aenean ullamcorper augue imperdiet, rutrum tortor in, vulputate dolor. Fusce ac sollicitudin purus. Nunc vitae turpis leo. Maecenas rhoncus dignissim felis nec pretium. Vestibulum ac aliquam massa, vitae viverra neque.</p>

        <p>Sed vestibulum in velit non malesuada. Pellentesque vel arcu rhoncus, facilisis magna eget, tempor purus. Integer lectus nibh, fermentum quis mi ut, tempus sagittis mi. Nulla lacinia diam in feugiat facilisis. Aliquam eget sem finibus libero lobortis facilisis sed a est. Vestibulum sed felis tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer vitae placerat dui, at finibus dolor. Integer orci magna, interdum sed sodales vitae, sollicitudin id tellus. Nulla id lorem imperdiet, fringilla tortor vel, sollicitudin dolor. Etiam aliquam molestie consectetur.</p>
       
    </div>
</div>
{% endblock %}