{% extends 'base.html' %}
{% block content %}
<div id="container" style="margin-top: 20px; height: 100% ;">
    <div class="col-1" style="text-align: center;">
        <img src="{{url_for('static', filename='img/bruxinho1.png')}}" height="500">
    </div>
    <div class="col-2"  >
        <h1>Projeto Rotina Mágica</h1>
        <p>O Rotina Mágica – Um Dia de Cada Vez, é um projeto que nasceu com o objetivo de apoiar o desenvolvimento da autonomia e da organização da rotina diária de jovens e adultos com Transtorno do Espectro Autista (TEA) e/ou deficiência intelectual. Por meio de jogos interativos e atividades adaptadas, buscamos criar uma experiência acessível, envolvente e educativa, respeitando as necessidades e os tempos de cada indivíduo.</p>

        <p>A plataforma foi inspirada em práticas pedagógicas baseadas em metodologias como a ABA (Análise do Comportamento Aplicada), utilizada para reforçar comportamentos positivos e promover o aprendizado por meio de reforços (no caso do jogo, as recompensas visuais e sonoras), e o Modelo TEACCH, que enfatiza a organização visual e a previsibilidade das atividades, elementos que favorecem o entendimento da rotina.</p>

        <p>O Rotina Mágica combina planejamento visual, recompensas motivadoras, imagens claras e sons estimulantes para tornar o aprendizado mais prazeroso e significativo. Além disso, promove o desenvolvimento de habilidades cognitivas importantes como a atenção, memória, reconhecimento de padrões e tomada de decisão.</p>

        <p>A plataforma conta com diferentes perfis de acesso:</p>
        <ul style="margin-left: 20px; font-size: 14px;">
        <li style="list-style: circle;"><b>Administradores</b>,que gerenciam o ambiente;</li>
        <li style="list-style: circle;"><b>Educadores</b>, responsáveis por criar e organizar atividades personalizadas;</li>
        <li style="list-style: circle;"><b>Alunos</b>, que acessam os jogos de acordo com a rotina proposta.</li>
        </ul>
        <p>Por meio desse sistema, os alunos podem aprender, brincar e desenvolver autonomia, enquanto os professores acompanham o progresso e adaptam as atividades conforme a evolução de cada um.</p>
      
    </div>
</div>
{% endblock %}